<footer>
  <section class="explore">
    <h4>Explore</h4>
    <ul>
      <li><a href="#">Course Catalog</a></li>
      <li><a href="#">Browse Professors</a></li>
      <!-- (write a review will redirect user or be hidden when not logged in) -->
      <li><a href="#">Write a Review</a></li>

      <!-- {% if user.is_authenticated %}
      <li><a href="{% url 'login' %}">Write A Review</a></li>
      {% endif %} -->
    </ul>
  </section>
  <section class="explore">
    <h4>Resources</h4>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Copyright</a></li>
      <li><a href="#">How we did it</a></li>
    </ul>
  </section>
</footer>
