<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "styles/styles.css" %}' />
    <title>ReviewMaster</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
        <div class="error-message">
            {% if messages.count > 1 %}
                Errors found:
            {% else %}
                Error found:
            {% endif %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static 'scripts/main.js' %}"></script>
    {% include 'footer.html' %}
</body>
</html>