{% extends 'main.html' %}

{% block content %}
<main class="tutor-page">
    <h1>Tutors:</h1>

    <div class="card-list">
        {% for tutor in tutors %}
            <div class="card-item">
                <p class="card-name">{{ tutor }}</p>
                {% for course in tutor.course.all %}
                    <p class="class-name">{{ course }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% if tutors.count == 0 %}
            <p>No tutors available.</p>
        {% endif %}
    </div>
</main>

{% endblock content %}