:root {
    --primary-color: #204071;
    --secondary-color: #1c4b82;
}


* {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}


main:not(.home) {
    width: 80%;
    margin: 4rem auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0.67em;
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/*==============================
=>  Header Section
================================*/
.header {
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: white;
}

.header > .container {
    display: flex;
    gap: 9.5rem;
    align-items: center;
    justify-items: center;
}

.header__logo,
.header__user {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-basis: 15%;
}

.header__logo > img {
    width: 100%;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    padding: .2rem;
    border-radius: 50px;
    height: 60%;
}

.header__search input {
    width: 30rem;
    background: transparent;
    border: none;
    padding: 0;
    color: black;
}

.header__search svg {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    fill: black;
}


@media screen and (max-width: 800px) {
    .header__search input {
        width: 20rem;
    }

    .header > .container {
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .header__logo h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header__search {
        display: none;
    }
}

.header__menu {
    margin-left: auto;
    position: relative;
}

.header__menu a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.header__menu img {
    height: 3.6rem;
}

.header__menu p {
    line-height: 1.2;
}

.header__menu span {
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
}

.header__menu svg {
    width: 1.6rem;
    height: 1.6rem;
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/*==============================
=>  Home Section
================================*/
.home {
    height: 80vh;
    background: url("/static/images/backgroundHome.jpg") 50% 50% no-repeat fixed;
}

.home section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 4rem;
    font-weight: bold;
}

.home p {
    font-size: 1.25rem;
}

.home input {
    border-radius: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

/*==============================
=>  Input/Button Section
================================*/
input {
    width: 100%;
    padding: 1rem;
    outline: none;
}

input[type="text"], input[type="password"] {
    margin-top: .5rem;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    input[type="text"], input[type="password"] {
        transition: none;
    }
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(121, 113, 234, 0.25);
}

input[type="text"]:disabled, input[type="password"]:disabled,
input[type="text"][readonly], input[type="password"][readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* Primary and Secondary Buttons */
.primary-button,
.secondary-button {
    width: fit-content;
    padding: .7rem .9rem;
    border-radius: .5rem;
    font-size: 1rem;
}

.primary-button {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.primary-button:hover {
    border: 1px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}

.secondary-button {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    margin-right: 1rem;
}

.secondary-button:hover {
    border: 1px solid var(--secondary-color);
    background-color: white;
    color: var(--secondary-color);
}

/*==============================
=>  Login/Register Section
================================*/
.login-form, .register-form {
    width: 30%;
    margin: 0 auto;
    text-align: left;
}

.login-form input,
.register-form input {
    margin-bottom: 1rem;
}

.login-form input.primary-button,
.register-form input.primary-button {
    margin: 1rem auto .75rem auto;
    display: block;
}

/*==============================
=>  Footer Section
================================*/
footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem 3rem 2rem;
}

footer section {
    width: 23%;
}

footer section h4 {
    margin-bottom: 1.33rem;
}

footer section ul {
    list-style-type: none;
    padding: 0;
}
