:root {
    --primary-color: #204071;
    --secondary-color: #1c4b82;
    --light-color: #FFFFFF;
    --error-color: #BA2D3D;
    --success-color: #31D190;
    --light-dark: #495057;
    --star-color: #FFB900;
    --star-color-hover: gold;
    --star-color-active: #EA0;
}

* {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

main:not(.home) {
    width: 80%;
    margin: 4rem auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0.67em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/*==============================
=>  Header Section
================================*/
.header {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: var(--light-color);
}

.header > .container {
    display: flex;
    gap: 9.5rem;
    align-items: center;
}

.header__logo,
.header__user {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-basis: 15%;
}

.header__logo > img {
    width: 100%;
}

.header__search > label {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-color);
    padding: .5rem;
    padding-left: 0;
    border-radius: 50px;

}

.header__search svg {
    width: 1.25rem;
    height: 2rem;
    margin-left: .75rem;
}

.header__search input {
    width: 20rem;
    background: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .header__search input {
        width: 20rem;
    }

    .header > .container {
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .header__logo h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header__search {
        display: none;
    }
}

.header__menu {
    margin-left: auto;
    position: relative;
}

.header__menu a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: var(--light-color);
}

.header__menu img {
    height: 3.6rem;
}

.header__menu p {
    line-height: 1.2;
}

.header__menu span {
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
}

.header__menu svg {
    width: 1.6rem;
    height: 1.6rem;
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding-top: .25rem;
    transition: transform .3s;
}

.dropdown-menu {
    z-index: 111;
    position: absolute;
    top: 5rem;
    right: 0.5rem;
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: none;
}

.dropdown-menu a {
    padding: 1rem;
    display: flex;
    gap: .5rem;
    font-weight: 500;
}

.dropdown-button svg, .dropdown-menu a svg {
    fill: var(--light-color);
    width: 1.25em;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
}

.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 500px) {
    .mobile-menu {
        display: none;
    }
}

/*==============================
=>  Alert/Error message Section
================================*/
.error.alert-messages {
    background-color: var(--error-color);
    color: var(--light-color);
}

.success.alert-messages {
    background-color: var(--success-color);
    /*color: var(--light-dark);*/
}

.alert-messages {
    padding: 1.25rem;
}

.alert-messages ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.alert-messages li {
    display: inline;
}

.alert-messages li::after {
    content: ", ";
}

.alert-messages li:last-child::after {
    content: "";
}

/*==============================
=>  Home Section
================================*/
.home {
    height: 80vh;
    background: url("/static/images/backgroundHome.jpg") 50% 50% no-repeat fixed;
}

.home section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--light-color);
    text-align: center;
}

.home h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.home p {
    font-size: 1.25rem;
}

.home input {
    border-radius: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

/*==============================
=>  Input/Button Section
================================*/
input {
    width: 100%;
    padding: 1rem;
    outline: none;
}

input[type="text"], input[type="password"] {
    margin-top: .5rem;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light-dark);
    background-clip: padding-box;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    input[type="text"], input[type="password"] {
        transition: none; 
    } 
}

input[type="text"]::-ms-expand, input[type="password"]::-ms-expand {
    background-color: transparent;
    border: 0; 
}

input[type="text"]:focus, input[type="password"]:focus {
    color: var(--light-dark);
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(121, 113, 234, 0.25); 
}

input[type="text"]:disabled, input[type="text"][readonly], 
input[type="password"]:disabled, input[type="password"][readonly] {
    background-color: #E9ECEF;
    opacity: 1; 
}

.primary-button, .secondary-button {
    width: fit-content;
    padding: .7rem .9rem;
    border-radius: .5rem;
    font-size: 1rem;
    color: var(--light-color);
}

.primary-button:hover, .secondary-button:hover {
    cursor: pointer;
    background-color: var(--light-color);
}

.primary-button {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.primary-button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.secondary-button {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    margin-right: 1rem;
}

.secondary-button:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/*==============================
=>  Rating Component
=>  https://jsfiddle.net/ashuslove/zLm4f/6/
================================*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: fit-content;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #DDD;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: var(--star-color);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: var(--star-color-hover);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: var(--star-color-active);
}

/*==============================
=>  Login/Register Section
================================*/
.login-form, .register-form {
    width: 30%;
    margin: 0 auto;
    text-align: left;
}

.login-form input, .register-form input {
    margin-bottom: 1rem;
}

.login-form input.primary-button, .register-form input.primary-button {
    margin: 1rem auto .75rem auto;
    display: block;
}

.help-text {
    margin-top: -.75rem;
    margin-bottom: .5rem;
    color: var(--light-dark);
    font-size: 0.75rem;
    display: block;
}

/*==============================
=>  Footer Section
================================*/
footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem 3rem 2rem;
}

footer section {
    width: 23%;
}

footer section h4 {
    margin-bottom: 1.33rem;
}

footer section ul {
    list-style-type: none;
    padding: 0;
}
