{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main class="home">
        <section>
            <article>
                <h1>Welcome!</h1>
                <p>Looking for the best professor? Start searching now!</p>
                <form class="main__search" method="GET" action="{% url 'courses' %}">
                    <input name="q" placeholder="Search classes..." />
                </form>
            </article>
        </section>
    </main>
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock content %}