{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main class="login">
        <div class="box">
            {% if page == 'register' %}
                <h1>Register now</h1>
                    <form method="POST" action="" class="user form">
                        {% csrf_token %}
                        <label for="username">{{ form.username.label }}:</label>
                        {{ form.username }}
                        <span class="help-text">Username may contain alphanumeric characters or @/./+/-/_.</span>
                        <label for="password">{{ form.password1.label }}:</label>
                        {{ form.password1 }}
                        <span class="help-text">Password can't be only numeric and should have at least 8 alphanumeric characters with a special character or at least 10 characters with no numbers.</span>
                        <label for="password-confirmation">{{ form.password2.label }}:</label>
                        {{ form.password2 }}
                        <input type="submit" value="Register" class="primary-button">
                    </form>
                    <p>Already signed up? <a href="{% url 'login' %}">Login!</a></p>
            {% else %}
                <h1>Login</h1>
                    <form method="POST" action="" class="user form">
                        {% csrf_token %}
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Username" name="username">
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Password" name="password">
                        <input type="submit" value="Login" class="primary-button">
                    </form>
                    <p>Not signed up? <a href="{% url 'register' %}">Register!</a></p>
            {% endif %}
        </div>
    </main>
{% endblock content %}