{% extends 'main.html' %}
{% load static %}
{% block content %}
    <form method="POST" action="{% url 'flag' review.id %}">
        {% csrf_token %}
        <p>Are you sure you want to {% if review.flagged %}Restore{% else %}flag{% endif %} this review?</p>
        <div class="card">
            <div class="review-title">
                <a href="{% url 'profile' review.student %}">{{ review.student }}</a>
                <div class="container-rating">
                    <span class="star-rating star-rating-{{ review.rating|slice:":1" }}"></span>
                </div>
            </div>
            <div class="review-course">
                <strong>Course:</strong>
                {% if review.course %}
                    {{ review.course.name }}
                {% else %}
                    N/A
                {% endif %}
            </div>
            <div class="review-content">
                <strong>Review:</strong>
                <div>{{ review.review }}</div>
            </div>
        </div>
        <input type="hidden" name="flagged" value="{% if review.flagged %}False{% else %}True{% endif %}">
        <button class="primary-button" type="submit">Confirm</button>
        <a class="secondary-button" href="{% url 'professor-reviews' professor.id %}">Cancel</a>
    </form>
{% endblock content %}